<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>展示</title>
    <style>
        .a{
            color: red;
            font-weight: bold;
        }
    </style>
</head>
<body>
<p>用户名：{{ name }}</p>
<br>
{{ friends }}
<br>
{{ friends[0] }},{{ friends[:2] }},{{ friends.0 }}
<br>
{{ dict1.1 }},{{ dict1.get('1') }}
<br>
{{ girl }},{{ girl.name }},{{ girl.gender }},{{ girl.addr }} {# 通过对象.属性访问 #}

<!-- 控制块 -->
<ul>
  {% for friend in friends %}
        <li>{{ friend }}</li>
  {% endfor %}
</ul>

<ul>
  {% for friend in friends %}
      {% if friend|length >= 3 %}
          <li class="a">{{ friend }}</li>
      {% else %}
          <li>{{ friend }}</li>
      {% endif %}
  {% endfor %}
</ul>
<hr>
<table border="1" cellpadding="0" cellspacing="0">
    {% for user in users %}
        <tr {% if loop.first %} style="background-color: deeppink" {% endif %} >
            <td>{{ loop.index0 }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.password }}</td>
            <td>{{ user.addr }}</td>
        </tr>
    {% endfor %}

</table>
</body>
</html>